@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .glassmorphism-card {
        @apply w-full rounded-3xl p-4 backdrop-blur-3xl bg-white/90
    }
    .headerClassName {
        @apply bg-[#AFD2FA] text-black font-bold
    }
    .disabled {
        @apply !bg-gray-200 !pointer-events-none 
    }
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  overflow-x: auto;
}

::-webkit-scrollbar
{
  width: 2px;
  height: 2px;
  background-color: #F5F5F5;
  overflow-x: auto;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #071952;
  overflow-x: auto;
}


@font-face {
    font-family: Yekan_reqular;
    src: url("../fonts/PeydaFaNum-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: Yekan_medium;
    src: url("../fonts/PeydaFaNum-Medium.ttf");
    font-style: normal;
}

@font-face {
    font-family: Yekan_light;
    src: url("../fonts/PeydaFaNum-Light.ttf");
    font-style: normal;
}

@font-face {
    font-family: Yekan_bold;
    src: url("../fonts/PeydaFaNum-Bold.ttf");
    font-style: normal;
}


.rmdp-container {
    width: 100% !important;
}

.MuiDataGrid-cell {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.MuiSelect-root {
    z-index: 9999 !important;
}
.MuiPopover-root {
    z-index: 9999 !important;
}
.custom-dialog-content {
    width: 80%; /* Adjust the width as per your requirement */
    max-width: none; /* To override the max-width constraint */
  }
.submenu-item:hover,
.submenu-item.selected {
  background-color: white !important;
}

.custom-row-style {
    /* Add your custom styles here */
    background-color: pink !important; /* Example custom background color */
    font-weight: bold; /* Example custom font weight */
}

input[type="radio"]:checked+span { 
    background-color: #009EF7;
    color: white;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
 }

 .trapezoid {
    display: flex;
    justify-content: center;
	border-bottom: 20px solid #272862;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 280px;
}
 .trapezoidColor {
    display: flex;
    justify-content: center;
	border-bottom: 20px solid #fcc615;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 280px;
}
.numeric-input {
    width: 140px !important;
    background: transparent;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    padding: 8.5px 14px;


}