@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .glassmorphism-card {
        @apply w-full rounded-3xl p-4 backdrop-blur-3xl bg-white/90 
    }
}
* {
    scrollbar-width: 20px !important;
    scrollbar-color: #2E4374 rgb(255, 255, 255);
}
*::-webkit-scrollbar {
    width: 10px !important;
}
*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}
*::-webkit-scrollbar-thumb {
    background-color: #2E4374;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
}

@font-face {
    font-family: Yekan_reqular;
    src: url("../fonts/YekanBakhFaNum-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_medium;
    src: url("../fonts/YekanBakhFaNum-Black.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_light;
    src: url("../fonts/YekanBakhFaNum-Light.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_bold;
    src: url("../fonts/YekanBakhFaNum-Bold.ttf");
    font-style: normal;
}
.rmdp-container {
    width: 100% !important;
}
.MuiDataGrid-cell {
    cursor: pointer;
}
